#
# Copyright (C) 2023-2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # WiFi country code
    setprop ro.boot.wificountrycode US

    chown system system /dev/xiaomi-touch
    chmod 0664 /dev/xiaomi-touch
    chown system system /dev/nanodev0
    chmod 0664 /dev/nanodev0

# Don't auto-start keyboard service
# it will be started via property trigger when user enables it in settings
service xiaomi-pen /vendor/bin/xiaomi-pen ${persist.vendor.parts.pen}
    class main
    user system
    group system input
    oneshot
    disabled

service xiaomi-keyboard /vendor/bin/xiaomi-keyboard
    class main
    user system
    group system input
    disabled

# Bypass Charging
on property:sys.boot_completed=1
    chmod 0660 /sys/class/power_supply/battery/input_suspend
    chown system system /sys/class/power_supply/battery/input_suspend
    restorecon /sys/class/power_supply/battery/input_suspend

# Start keyboard service when user enables it
on property:persist.vendor.parts.keyboard=1
    start xiaomi-keyboard

# Stop keyboard service when user disables it
on property:persist.vendor.parts.keyboard=0
    stop xiaomi-keyboard

on property:persist.vendor.parts.pen=*
    start xiaomi-pen
